body {
  font-family: "DM Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  background: #fffbd5;
  background: url(images/cool-background-3.png) no-repeat center fixed;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

#calculator {
  width: 320px;
  height: 520px;
  background-color: #eaedef;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.53);
}

#result {
  height: 120px;
  background-color: antiquewhite;
  border-radius: 10px 10px 0px 0px;
}

#history {
  text-align: right;
  height: 20px;
  margin: 0 20px;
  padding-top: 20px;
  font-size: 20px;
}

#output {
  text-align: right;
  height: 60px;
  margin: 10px 20px;
  font-size: 30px;
}

#keyboard {
  height: 400px;
}

.operator,
.number,
.empty {
  width: 50px;
  height: 50px;
  margin: 15px;
  float: left;
  border-radius: 50%;
  border-width: 0px;
  font-weight: bold;
  font-size: 15px;
}

.number,
.empty {
  background-color: #eaedef;
}

.number,
.operator {
  cursor: pointer;
}

.number:active,
.operator:active {
  transform: translateY(2px);
  font-size: 13px;
}

.number:focus,
.operator:focus,
.empty:focus {
  outline: 0;
}

button:nth-child(1) {
  color: white;
  background-color: rgb(40, 43, 35);
}

button:nth-child(2) {
  color: white;
  background-color: rgb(40, 43, 35);
}

button:nth-child(3) {
  font-size: 20px;
  background-color: rgb(79, 116, 216);
}

button:nth-child(4) {
  font-size: 20px;
  background-color: #20b2aa;
}

button:nth-child(8) {
  font-size: 20px;
  background-color: #ffa500;
}

button:nth-child(12) {
  font-size: 20px;
  background-color: #f08080;
}

button:nth-child(16) {
  font-size: 20px;
  background-color: #7d93e0;
}

button:nth-child(20) {
  color: white;
  background-color: rgb(40, 43, 35);
}
